body {
    background-color:#21252b;
    /*background:
    repeating-linear-gradient(
        to right bottom, #21252b, #718099 10px
        )*/
}
#setting_pane {
    background-color: #282c34;
    width: 800px;
    height:100%;
    border-radius: 2px;
    padding:50px 5px 50px 5px;
    margin-left: auto;
    margin-right: auto;
}
#button_div {
    /*margin: 20px 100px auto 100px;*/
    /*box-shadow: 0px 0px 10px 1px hsla(0,0%,0%,0.25);*/
    display:grid;
    padding: 30px 30px 30px 0px;
    grid-template-rows: repeat(9, 50px);
    grid-template-columns: 50px 20px 20px 150px 40px auto;
}
#button_wrap {
    margin: 20px 100px auto 100px;
    box-shadow: 0px 0px 10px 1px hsla(0,0%,0%,0.25);
    padding: 0px 0px 0px 0px;
    opacity: 0.2;
    filter: blur(3px);
}
#bottom_buttons {
    display:grid;
    grid-template-columns: auto 100px 100px;
}
#save-form {
    grid-column: 3/3
}
#reset-form {
    grid-column: 2/2
}

.option_text {
    color: white;
    font-size: 20px;
    grid-column: 6/6;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.option_check {
    width: 15px;
    height: 15px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.option_edit {
    /*width: 100px;*/
    height: 25px;
    grid-column: 4/4;
    font-size: 14px;
    border-radius: 1px;
    border: 0px;
    padding-left: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

}

.btn-main {
    grid-column: 7/7;
    grid-row: 6/6;
    font-size: 20px;
    margin: 0px 10px 10px 10px;
}
.btn-main:active {
    background-color:grey;
}

.tooltiptext {
    visibility: hidden;
    background-color: #14161a;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    /* bottom: -10px; */
    top: 10px;
    left: 150px;;
    width: 400px;
    margin-left: 100px;
    border-radius: 10px;
}

.option_text:hover + span {
    visibility: visible;
}